@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Forms

@inherits LayoutComponentBase
@layout MainLayout
@page "/User/Individual"

@inject Microsoft.Extensions.Localization.IStringLocalizer<ComponentMainLayout> Localize

<Nav />
<div>
    @Localize["Greeting"]
</div>
<div class="full-height-body">
    @Body
</div>
<hr />
<Foot />

@code{
    
}