@namespace Calculator.UI.Blazor.Modules.IndividualUser.Components
@layout IndividualUserMainLayout
<div><small>Persona Edit Component:</small></div>
<div>Name -> @Name</div>
<div><a href="#">red?</a></div>

@code {
    [Parameter]
    public string Name { get; set; }
}