<div class="container">
    <div class="row">
        <NavLink class="nav-link" href="/admin/website" Match="NavLinkMatch.All">
            <span class="oi oi-plus" aria-hidden="true"></span> root
        </NavLink>
        <NavLink class="nav-link" href="/admin/website/general">
            <span class="oi oi-plus" aria-hidden="true"></span> general
        </NavLink>
        <NavLink class="nav-link" href="/admin/website/settings">
            <span class="oi oi-plus" aria-hidden="true"></span> settings
        </NavLink>
        <NavLink class="nav-link" href="/admin/website/preferences">
            <span class="oi oi-plus" aria-hidden="true"></span> preferences
        </NavLink>
    </div>
</div>