@namespace Calculator.UI.Blazor.Modules.IndividualUser.Shared
@layout IndividualUserMainLayout

@inject Microsoft.Extensions.Localization.IStringLocalizer<IndividualFoot> Localize


<div>
    @Localize["Copyright"]
</div>