@namespace Calculator.UI.Blazor.Modules.CalculatorModule.Shared
@layout IndividualUserMainLayout

@inject Microsoft.Extensions.Localization.IStringLocalizer<CalcNav> Localize

<div class="container">
    <div class="row">
        
    </div>
</div>