@namespace Calculator.UI.Blazor.Modules.CalculatorModule.Pages
@layout CalculatorMainLayout
@page "/Calculator/Index"

@inject CalculatorHttpClientService _httpService

<h1>Hello there, welcome to the Blazor Online Calculator</h1>
<a href="#">Pink I wonder?</a>
<div>
    <EditForm id="calculator-form" Model="@CurrentValues" OnValidSubmit="@Calculate">
        <div>
            <EnumSelect id="behavior" TEnum="@CalculatorDoActionBehavior" @bind-Value="CurrentValues.Behavior" />
        </div>
        <div>
            <input id="value1" @bind-value="CurrentValues.Value1" />
        </div>
        <div>
            <input id="value2" @bind-value="CurrentValues.Value2" />
        </div>
        <div>
            <button id="submit-button" type="submit" class="btn btn-primary"
                value="Calculate">Calculate</button>
        </div>
        <div class="well">
            <span>Answer: <span id="answer">@Answer</span></span>
        </div>

    </EditForm>
</div>

@code {
    public CalculatorDoActionBehavior CurrentCalculatorAction = CalculatorDoActionBehavior.Add;
    public CalculatorDoActionBehaviorRequest CurrentValues = new CalculatorDoActionBehaviorRequest();
    public string Answer = "Let's calculate something together";

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    protected async Task<bool> Calculate()
    {
        this.Answer = await _httpService.DoAction(CurrentValues);
        return true;
    }
}
