@page "/LicensedAccountRequired"
@using Newtonsoft.Json;
@inject IJSRuntime JSRuntime

<AuthorizeView>
    <Authorized>
        <p>The resource your are trying to access requires an license</p>
    </Authorized>
    <NotAuthorized>
        <p>The resource your are trying to access requires you login</p>
    </NotAuthorized>
</AuthorizeView>